[Unit]
Description=java-kit-server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/apps/java-kit-server
Environment="PATH=/root/.nvm/versions/node/v25.2.1/bin:$PATH"
ExecStart=//usr/java/jdk-17.0.12/bin/java -jar java-kit-server-1.0.0.jar --server.port=8000
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target