[Unit]
Description=java-kit-server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/data/apps/java-kit-server
ExecStart=./start_server.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target